<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue Basics</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="styles.css" />
    <script src="https://unpkg.com/vue@next" defer></script>
    <script src="app.js" defer></script>
  </head>
  <body>
    <header>
      <h1>Events</h1>
    </header>
    <section id="assignment">
      <h2>Event Practice</h2>
      <button @click="IncrementCount">Add 10</button>
      <button @click="decrementCount">Subtract 5</button>
      <p>Result: {{ counter }}</p>
      <hr />
      <input type="text" v-model="name" />
      <button v-on:click="resetInput">Reset Input</button>
      <p>My Name: {{ outputFullname() }}</p>
    </section>
  </body>
</html>
